<mapper namespace="com.mybatis.service.UserService">

  <!-- sql的唯一表示 namespace.id来组成：statementId-->
  <select id="findAll" resultType="com.mybatis.pojo.User">
    select * from user
  </select>

  <!-- -->
  <select id="findByCondition" paramterType="com.mybatis.pojo.User" resultType="com.mybatis.pojo.User">
    select * from user where id = {id} and username =#{username}
  </select>
</mapper>
